/*-~- config -~-*/
/*-~- reset -~-*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html {
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/*-~- base reset -~-*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

/*-~- links -~-*/
a {
  text-decoration: none; }

a:focus, a:hover, a:active {
  outline: none; }

/*-~- typography -~-*/
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*-~- lists -~-*/
nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/*-~- Embedded content -~-*/
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/*-~- forms -~-*/
figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

input, textarea, select {
  outline: none; }

/*-~- tables -~-*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/*-~- chrome frame prompt -~-*/
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/*-~- clearfix -~-*/
.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/*-~- variables -~-*/
/*-~- breakpoints -~-*/
/*-~- helpers -~-*/
/*-~- breakpoints -~-*/
/*-~- transition -~-*/
/*
h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
}

h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 35px;
    text-transform: uppercase;
    padding: 41px 0 25px 0;
}

h3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 20px;
}

h4 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

h5 {
    font-weight: 700;
    font-size: 16px; 
    line-height: 30px;
}

h6 {
    font-size: 20px;
    line-height: 30px;
    padding: 13px 0 21px 0;
    max-width: 466px;
    margin: 0 auto 3px auto;
}

p {
    font-weight: 300;
    font-size: 13.5px;
    line-height: 30px;
}

a {
    color: black;
    text-decoration: none;
}
*/
/*-~- layout -~-*/
/*-~- icons -~-*/
i {
  -moz-transition-property: 0.3s;
  -o-transition-property: 0.3s;
  -webkit-transition-property: 0.3s;
  transition-property: 0.3s; }

.btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 40px;
  padding: 13px 20px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  background: #000;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-bottom: 4px solid #000; }
  .btn:hover {
    background-color: #9d9fa2; }

/*-~- layout -~-*/
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  /*-~- Suggestions for a Grid Base -~-*/ }

@media only screen and (max-width: 600px) {
  * {
    box-sizing: border-box; }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; }
  /* -- NAVBAR -- */
  #top {
    border-bottom: 1px solid #a5a5a5;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%; }
    #top .delivery {
      color: #a5a5a5;
      font-size: 14px;
      line-height: 22px;
      text-align: center; }
  .top-0 {
    display: none; }
  .navbar {
    background-color: transpatent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 40px; }
  .logo-container {
    margin-left: 20px; }
  .logo {
    height: 30px; }
  .box-left {
    display: none; }
    .box-left ul {
      display: flex; }
      .box-left ul li {
        margin-right: 10px; }
        .box-left ul li:hover {
          border-bottom: 2px solid #2c2c37;
          bottom: -20px; }
        .box-left ul li a {
          padding: 20px 15px;
          color: #2c2c37;
          font-size: 12px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 24px; }
  .active {
    border-bottom: 2px solid #2c2c37;
    bottom: -20px; }
  .navbar-fixed {
    background-color: rgba(255, 255, 255, 0.9) !important;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    -webkit-box-shadow: 0 0 5px #bdbdbd;
    animation: fadeInDownNav 0.4s ease-in both; }
    .navbar-fixed .logo-container {
      padding: 5px; }
      .navbar-fixed .logo-container a img {
        height: 40px; }
  @keyframes fadeInDownNav {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0); }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0); } }
  .box-right {
    margin-right: 15px; }
    .box-right .btn-group {
      display: flex;
      border-radius: 3px; }
      .box-right .btn-group .search-button {
        font-size: 22px;
        cursor: pointer;
        width: 40px;
        box-shadow: none !important; }
        .box-right .btn-group .search-button:hover {
          color: #ee3333; }
      .box-right .btn-group .search-content {
        width: auto;
        background: transparent;
        box-shadow: none;
        border: 0;
        padding: 0;
        left: auto;
        right: 195px; }
        .box-right .btn-group .search-content .input-lg {
          width: 410px;
          border: 0;
          height: 50px;
          border-radius: 3px; }
        .box-right .btn-group .search-content ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content ::-moz-placeholder {
          /* Firefox 19+ */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content :-ms-input-placeholder {
          /* IE 10+ */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content :-moz-placeholder {
          /* Firefox 18- */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content .input-group-btn {
          position: absolute;
          right: 0;
          top: 0;
          border: 0; }
          .box-right .btn-group .search-content .input-group-btn .btn-lg {
            border: 0;
            height: 50px; }
  #chart .btn {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0 15px;
    color: #2c2c37; }
    #chart .btn:hover {
      color: #ee3333; }
    #chart .btn i {
      font-size: 20px; }
    #chart .btn #cart-total {
      top: -9px;
      position: relative;
      font-size: 12px;
      font-weight: 400; }
    #chart .btn .myCart {
      display: none; }
  #chart .dropdown-menu {
    width: 350px;
    margin: 0;
    padding: 10px 30px 0 30px;
    left: auto;
    right: 25px;
    margin-top: 11px; }
  #chart li:before {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0; }
  #chart li:after {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0; }
  .text-center {
    padding-bottom: 15px;
    padding-top: 20px; }
  .box-setting .btn-group {
    cursor: pointer; }
    .box-setting .btn-group:hover {
      color: #ee3333; }
    .box-setting .btn-group .setting-button .fa-th {
      font-size: 24px; }
    .box-setting .btn-group .setting-content {
      left: auto;
      right: -2px;
      border-radius: 3px;
      width: 280px;
      padding: 35px 40px 32px 40px;
      top: 30px;
      border: none; }
  .btn-link-current {
    font-weight: 600;
    padding: 0;
    font-size: 12px;
    color: #292929 !important;
    pointer-events: none; }
  .content {
    border-top: 1px solid #ebebeb;
    margin-top: 3px;
    padding-top: 5px;
    padding-left: 20px; }
  .ul-account {
    padding: 5px 0; }
    .ul-account a {
      color: #6b6b6b;
      font-size: 12px;
      padding: 3px 0;
      line-height: 24px;
      text-transform: capitalize;
      font-weight: normal; }
      .ul-account a:hover {
        color: #ee3333;
        border: 0 !important; }
  .content .ul-account li button {
    color: #6b6b6b;
    font-size: 12px;
    padding: 3px 0;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: normal;
    text-align: left; }
    .content .ul-account li button:hover {
      color: #ee3333; }
  .content .ul-account li .item-selected {
    color: #ee3333; }
  /* ----- SLIDER ----- */
  .nivo-controlNav {
    position: relative;
    top: 0px !important;
    z-index: 5; }
  .full-width .container {
    width: 100% !important;
    padding: 0; }
    .full-width .container .row {
      margin: 0; }
      .full-width .container .row .main-col {
        padding: 0 !important; }
  .scrollup {
    height: 32px;
    width: 32px;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    opacity: 0.5; }
  .html-nivo-caption {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    background: none repeat scroll 0% 0% transparent !important; }
  .container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
  .container-inner {
    height: 100%;
    width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .container-inner .text-content {
      display: none;
      position: absolute;
      top: 60%;
      max-width: 50%;
      text-align: left;
      left: 30px;
      transform: translateY(-50%);
      font-family: 'Poppins', sans-serif; }
    .container-inner .title {
      font-size: 50px;
      color: #2c2c37;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: 500;
      line-height: 1; }
    .container-inner #title1 {
      animation: rollIn 1s linear alternate; }
    .container-inner #title2 {
      animation: fadeInLeft .5s linear alternate; }
    .container-inner #title3 {
      animation: zoomIn .5s linear alternate; }
    .container-inner p {
      font-size: 14px;
      margin: 0;
      padding: 5px;
      color: #2c2c37;
      line-height: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400; }
    .container-inner #paragraph-1 {
      animation: slideInDown 1s linear alternate; }
    .container-inner #paragraph-2 {
      animation: fadeInRight .5s linear alternate; }
    .container-inner #paragraph-3 {
      animation: bounceIn 2s linear alternate; }
    .container-inner .shoppingNow {
      font-size: 12px;
      line-height: 51px;
      border: 2px solid #2c2c37;
      text-transform: uppercase;
      font-weight: 600;
      display: inline-block;
      vertical-align: top;
      padding: 0 50px;
      background: transparent;
      margin-top: 53px;
      animation: slideInUp 0.5s linear alternate;
      border-radius: 3px; }
      .container-inner .shoppingNow:hover {
        background-color: #2c2c37; }
        .container-inner .shoppingNow:hover a {
          color: #fff;
          text-decoration: underline; }
  /* ----- TEXT ANIMATIONS ----- */
  @keyframes rollIn {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
    to {
      opacity: 1;
      transform: none; } }
  @keyframes slideInDown {
    from {
      visibility: visible;
      transform: translateY(-100%); }
    to {
      transform: translateY(0); } }
  @keyframes slideInUp {
    from {
      visibility: visible;
      transform: translateY(100%); }
    to {
      transform: translateY(0); } }
  @keyframes fadeInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0; }
    to {
      transform: translateX(0);
      opacity: 1; } }
  @keyframes fadeInRight {
    from {
      transform: translateX(100%);
      opacity: 0; }
    to {
      transform: translateX(0);
      opacity: 1; } }
  @keyframes zoomIn {
    from {
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0; }
    to {
      opacity: 1; } }
  @keyframes bounceIn {
    0% {
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0; }
    20% {
      transform: scale3d(1.1, 1.1, 1.1); }
    40% {
      transform: scale3d(0.9, 0.9, 0.9); }
    60% {
      transform: scale3d(1.03, 1.03, 1.03); }
    80% {
      ttransform: scale3d(0.97, 0.97, 0.97); }
    100% {
      transform: scale3d(1, 1, 1); } }
  /* ----- Main Row ----- */
  .image a img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    height: 100%; }
  /* ----- Category ----- */
  .gallery-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c2c37;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px; }
  .filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px; }
  .filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F; }
  .btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white; }
  .port-image {
    width: 100%; }
  .gallery_product {
    margin-bottom: 30px; }
  .product-name {
    color: #23232c;
    padding: 0;
    display: block;
    line-height: 18px;
    text-transform: capitalize;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Karla',sans-serif; }
    .product-name:hover {
      color: #e33;
      text-decoration: none; }
  .regular-price {
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    font-family: 'Karla', sans-serif; }
  .sale-price {
    color: #e33;
    font-weight: 700;
    font-family: 'Karla', sans-serif; }
  /* ----- Footer  ----- */
  .footer-middle {
    background-color: #222;
    margin-top: 80px;
    padding: 40px 0; }
  .footer-header {
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 25px 0; }
  .desc-footer {
    line-height: 24px;
    font-size: 14px;
    color: #717171;
    font-weight: 400;
    margin-bottom: 45px; }
  .readmore {
    line-height: 24px;
    font-size: 14px;
    color: white;
    font-weight: 600; }
    .readmore:hover {
      color: #e33;
      text-decoration: none; }
  .social-follow h4 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-top: 45px; }
  .social-network {
    display: inline;
    list-style: none; }
    .social-network li {
      display: inline;
      margin: 0 5px; }
      .social-network li a {
        text-decoration: none; }
        .social-network li a i {
          font-size: 22px;
          color: #9e9e9e;
          margin: 0; }
          .social-network li a i:hover {
            color: #717171;
            text-decoration: none;
            touch-action: manipulation; }
  .cms-page-link {
    line-height: 24px;
    font-size: 14px;
    color: #717171;
    font-weight: 400; }
    .cms-page-link:hover {
      color: #e33;
      text-decoration: none; }
  .line {
    border-bottom: 1px solid #717171;
    padding-bottom: 30px; }
  .footer-bottom {
    background-color: #222; }
  address {
    color: #717171; }
    address a {
      color: #9e9e9e; }
  /* ------ Dropdown ------ */
  .dropbtn {
    background-color: transparent;
    color: #222;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase; }
  .dropbtn:hover, .dropbtn:focus {
    color: #717171; }
  .dropdown {
    position: relative;
    display: inline-block; }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 3px;
    padding: 35px 40px 32px 40px;
    border: none; }
  .dropdown-content a {
    color: #6b6b6b;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  .dropdown a:hover {
    background-color: #e33; }
  .show {
    display: block; } }

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  * {
    box-sizing: border-box; }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; }
  /* -- NAVBAR -- */
  #top {
    border-bottom: 1px solid #a5a5a5;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%; }
    #top .delivery {
      color: #a5a5a5;
      font-size: 14px;
      line-height: 22px;
      text-align: center; }
  .top-0 {
    display: none; }
  .navbar {
    background-color: transpatent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 40px; }
  .logo-container {
    margin-left: 0; }
  .box-left {
    display: none; }
    .box-left ul {
      display: flex; }
      .box-left ul li {
        margin-right: 0px; }
        .box-left ul li:hover {
          border-bottom: 2px solid #2c2c37;
          bottom: -20px; }
        .box-left ul li a {
          padding: 20px 15px;
          color: #2c2c37;
          font-size: 12px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 24px; }
  .active {
    border-bottom: 2px solid #2c2c37;
    bottom: -20px; }
  .navbar-fixed {
    background-color: rgba(255, 255, 255, 0.9) !important;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    -webkit-box-shadow: 0 0 5px #bdbdbd;
    animation: fadeInDownNav 0.4s ease-in both; }
    .navbar-fixed .logo-container {
      padding: 5px; }
      .navbar-fixed .logo-container a img {
        height: 40px; }
  @keyframes fadeInDownNav {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0); }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0); } }
  .box-right {
    margin-left: auto; }
    .box-right .btn-group {
      display: flex;
      border-radius: 3px; }
      .box-right .btn-group .search-button {
        font-size: 22px;
        cursor: pointer;
        width: 40px;
        box-shadow: none !important; }
        .box-right .btn-group .search-button:hover {
          color: #ee3333; }
      .box-right .btn-group .search-content {
        width: auto;
        background: transparent;
        box-shadow: none;
        border: 0;
        padding: 0;
        left: auto;
        right: 195px; }
        .box-right .btn-group .search-content .input-lg {
          width: 410px;
          border: 0;
          height: 50px;
          border-radius: 3px; }
        .box-right .btn-group .search-content ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content ::-moz-placeholder {
          /* Firefox 19+ */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content :-ms-input-placeholder {
          /* IE 10+ */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content :-moz-placeholder {
          /* Firefox 18- */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content .input-group-btn {
          position: absolute;
          right: 0;
          top: 0;
          border: 0; }
          .box-right .btn-group .search-content .input-group-btn .btn-lg {
            border: 0;
            height: 50px; }
  #chart .btn {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0 40px;
    color: #2c2c37; }
    #chart .btn:hover {
      color: #ee3333; }
    #chart .btn i {
      font-size: 20px; }
    #chart .btn #cart-total {
      top: -9px;
      position: relative;
      font-size: 12px;
      font-weight: 400; }
    #chart .btn .myCart {
      display: none; }
  #chart .dropdown-menu {
    width: 350px;
    margin: 0;
    padding: 10px 30px 0 30px;
    left: auto;
    right: 25px;
    margin-top: 11px; }
  #chart li:before {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0; }
  #chart li:after {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0; }
  .text-center {
    padding-bottom: 15px;
    padding-top: 20px; }
  .box-setting .btn-group {
    cursor: pointer; }
    .box-setting .btn-group:hover {
      color: #ee3333; }
    .box-setting .btn-group .setting-button .fa-th {
      font-size: 24px; }
    .box-setting .btn-group .setting-content {
      left: auto;
      right: -2px;
      border-radius: 3px;
      width: 280px;
      padding: 35px 40px 32px 40px;
      top: 30px;
      border: none; }
  .btn-link-current {
    font-weight: 600;
    padding: 0;
    font-size: 12px;
    color: #292929 !important;
    pointer-events: none; }
  .content {
    border-top: 1px solid #ebebeb;
    margin-top: 3px;
    padding-top: 5px;
    padding-left: 20px; }
  .ul-account {
    padding: 5px 0; }
    .ul-account a {
      color: #6b6b6b;
      font-size: 12px;
      padding: 3px 0;
      line-height: 24px;
      text-transform: capitalize;
      font-weight: normal; }
      .ul-account a:hover {
        color: #ee3333;
        border: 0 !important; }
  .content .ul-account li button {
    color: #6b6b6b;
    font-size: 12px;
    padding: 3px 0;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase; }
    .content .ul-account li button:hover {
      color: #ee3333; }
  .content .ul-account li .item-selected {
    color: #ee3333; }
  /* ----- SLIDER ----- */
  .nivo-controlNav {
    position: relative;
    top: -100px !important;
    z-index: 5; }
  .full-width .container {
    width: 100% !important;
    padding: 0; }
    .full-width .container .row {
      margin: 0; }
      .full-width .container .row .main-col {
        padding: 0 !important; }
  .scrollup {
    height: 32px;
    width: 32px;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    opacity: 0.5; }
  .html-nivo-caption {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    background: none repeat scroll 0% 0% transparent !important; }
  .container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
  .container-inner {
    height: 100%;
    width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .container-inner .text-content {
      position: absolute;
      top: 60%;
      max-width: 50%;
      text-align: left;
      left: 30px;
      transform: translateY(-50%);
      font-family: 'Poppins', sans-serif; }
    .container-inner .title {
      font-size: 50px;
      color: #2c2c37;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: 500;
      line-height: 1; }
    .container-inner #title1 {
      animation: rollIn 1s linear alternate; }
    .container-inner #title2 {
      animation: fadeInLeft .5s linear alternate; }
    .container-inner #title3 {
      animation: zoomIn .5s linear alternate; }
    .container-inner p {
      font-size: 14px;
      margin: 0;
      padding: 5px;
      color: #2c2c37;
      line-height: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400; }
    .container-inner #paragraph-1 {
      animation: slideInDown 1s linear alternate; }
    .container-inner #paragraph-2 {
      animation: fadeInRight .5s linear alternate; }
    .container-inner #paragraph-3 {
      animation: bounceIn 2s linear alternate; }
    .container-inner .shoppingNow {
      font-size: 12px;
      line-height: 51px;
      border: 2px solid #2c2c37;
      text-transform: uppercase;
      font-weight: 600;
      display: inline-block;
      vertical-align: top;
      padding: 0 50px;
      background: transparent;
      margin-top: 53px;
      animation: slideInUp 0.5s linear alternate;
      border-radius: 3px; }
      .container-inner .shoppingNow:hover {
        background-color: #2c2c37; }
        .container-inner .shoppingNow:hover a {
          color: #fff;
          text-decoration: underline; }
  /* ----- TEXT ANIMATIONS ----- */
  @keyframes rollIn {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
    to {
      opacity: 1;
      transform: none; } }
  @keyframes slideInDown {
    from {
      visibility: visible;
      transform: translateY(-100%); }
    to {
      transform: translateY(0); } }
  @keyframes slideInUp {
    from {
      visibility: visible;
      transform: translateY(100%); }
    to {
      transform: translateY(0); } }
  @keyframes fadeInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0; }
    to {
      transform: translateX(0);
      opacity: 1; } }
  @keyframes fadeInRight {
    from {
      transform: translateX(100%);
      opacity: 0; }
    to {
      transform: translateX(0);
      opacity: 1; } }
  @keyframes zoomIn {
    from {
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0; }
    to {
      opacity: 1; } }
  @keyframes bounceIn {
    0% {
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0; }
    20% {
      transform: scale3d(1.1, 1.1, 1.1); }
    40% {
      transform: scale3d(0.9, 0.9, 0.9); }
    60% {
      transform: scale3d(1.03, 1.03, 1.03); }
    80% {
      ttransform: scale3d(0.97, 0.97, 0.97); }
    100% {
      transform: scale3d(1, 1, 1); } }
  /* ----- Main Row ----- */
  .image a img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    height: 100%; }
  /* ----- Category ----- */
  .gallery-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c2c37;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px; }
  .filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px; }
  .filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F; }
  .btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white; }
  .port-image {
    width: 100%; }
  .gallery_product {
    margin-bottom: 30px; }
  .product-name {
    color: #23232c;
    padding: 0;
    display: block;
    line-height: 18px;
    text-transform: capitalize;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Karla',sans-serif; }
    .product-name:hover {
      color: #e33;
      text-decoration: none; }
  .regular-price {
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    font-family: 'Karla', sans-serif; }
  .sale-price {
    color: #e33;
    font-weight: 700;
    font-family: 'Karla', sans-serif; }
  /* ----- Footer  ----- */
  .footer-middle {
    background-color: #222;
    margin-top: 80px;
    padding: 40px 0; }
  .footer-header {
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 25px 0; }
  .desc-footer {
    line-height: 24px;
    font-size: 14px;
    color: #717171;
    font-weight: 400; }
  .readmore {
    line-height: 24px;
    font-size: 14px;
    color: white;
    font-weight: 600; }
    .readmore:hover {
      color: #e33;
      text-decoration: none; }
  .social-follow h4 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 600; }
  .social-network {
    display: inline;
    list-style: none; }
    .social-network li {
      display: inline;
      margin: 0 5px; }
      .social-network li a {
        text-decoration: none; }
        .social-network li a i {
          font-size: 22px;
          color: #9e9e9e;
          margin: 0; }
          .social-network li a i:hover {
            color: #717171;
            text-decoration: none;
            touch-action: manipulation; }
  .cms-page-link {
    line-height: 24px;
    font-size: 14px;
    color: #717171;
    font-weight: 400; }
    .cms-page-link:hover {
      color: #e33;
      text-decoration: none; }
  .line {
    border-bottom: 1px solid #717171;
    padding-bottom: 30px; }
  .footer-bottom {
    background-color: #222; }
  address {
    color: #717171; }
    address a {
      color: #9e9e9e; }
  /* ----- Dropdown ----- */
  .dropbtn {
    background-color: transparent;
    color: #222;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase; }
  .dropbtn:hover, .dropbtn:focus {
    color: #717171; }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 45px; }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 3px;
    padding: 35px 40px 32px 40px;
    border: none; }
  .dropdown-content a {
    color: #717171;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
  .dropdown a:hover {
    background-color: transparent; }
  .show {
    display: block; } }

@media only screen and (min-width: 1024px) {
  * {
    box-sizing: border-box; }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; }
  /* -- NAVBAR -- */
  #top {
    border-bottom: 1px solid #a5a5a5;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%; }
    #top .delivery {
      color: #a5a5a5;
      font-size: 14px;
      line-height: 22px;
      text-align: center; }
  .top-0 {
    display: none; }
  .dropdown {
    display: none; }
  .navbar {
    background-color: transpatent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 100px; }
  .logo-container {
    margin-left: 0; }
  .box-left {
    padding-left: 45px; }
    .box-left ul {
      display: flex; }
      .box-left ul li {
        margin-right: 10px; }
        .box-left ul li:hover {
          border-bottom: 2px solid #2c2c37;
          bottom: -20px; }
        .box-left ul li a {
          padding: 20px 15px;
          color: #2c2c37;
          font-size: 12px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 24px; }
  .active {
    border-bottom: 2px solid #2c2c37;
    bottom: -20px; }
  .navbar-fixed {
    background-color: rgba(255, 255, 255, 0.9) !important;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 100px;
    -webkit-box-shadow: 0 0 5px #bdbdbd;
    animation: fadeInDownNav 0.4s ease-in both; }
    .navbar-fixed .logo-container {
      padding: 5px; }
      .navbar-fixed .logo-container a img {
        height: 40px; }
  @keyframes fadeInDownNav {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0); }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0); } }
  .box-right {
    margin-left: auto; }
    .box-right .btn-group {
      display: flex;
      border-radius: 3px; }
      .box-right .btn-group .search-button {
        font-size: 22px;
        cursor: pointer;
        width: 40px;
        box-shadow: none !important; }
        .box-right .btn-group .search-button:hover {
          color: #ee3333; }
      .box-right .btn-group .search-content {
        width: auto;
        background: transparent;
        box-shadow: none;
        border: 0;
        padding: 0;
        left: auto;
        right: 195px; }
        .box-right .btn-group .search-content .input-lg {
          width: 410px;
          border: 0;
          height: 50px;
          border-radius: 3px; }
        .box-right .btn-group .search-content ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content ::-moz-placeholder {
          /* Firefox 19+ */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content :-ms-input-placeholder {
          /* IE 10+ */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content :-moz-placeholder {
          /* Firefox 18- */
          color: #a4a4a4;
          font-size: 12px;
          font-weight: 400; }
        .box-right .btn-group .search-content .input-group-btn {
          position: absolute;
          right: 0;
          top: 0;
          border: 0; }
          .box-right .btn-group .search-content .input-group-btn .btn-lg {
            border: 0;
            height: 50px; }
  #chart .btn {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0 40px;
    color: #2c2c37; }
    #chart .btn:hover {
      color: #ee3333; }
    #chart .btn i {
      font-size: 20px; }
    #chart .btn #cart-total {
      top: -9px;
      position: relative;
      font-size: 12px;
      font-weight: 400; }
    #chart .btn .myCart {
      display: none; }
  #chart .dropdown-menu {
    width: 350px;
    margin: 0;
    padding: 10px 30px 0 30px;
    left: auto;
    right: 25px;
    margin-top: 11px; }
  #chart li:before {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0; }
  #chart li:after {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0; }
  .text-center {
    padding-bottom: 15px;
    padding-top: 20px; }
  .box-setting .btn-group {
    cursor: pointer; }
    .box-setting .btn-group:hover {
      color: #ee3333; }
    .box-setting .btn-group .setting-button .fa-th {
      font-size: 24px; }
    .box-setting .btn-group .setting-content {
      left: auto;
      right: -2px;
      border-radius: 3px;
      width: 280px;
      padding: 35px 40px 32px 40px;
      top: 30px;
      border: none; }
  .btn-link-current {
    font-weight: 600;
    padding: 0;
    font-size: 12px;
    color: #292929 !important;
    pointer-events: none; }
  .content {
    border-top: 1px solid #ebebeb;
    margin-top: 3px;
    padding-top: 5px;
    padding-left: 20px; }
  .ul-account {
    padding: 5px 0; }
    .ul-account a {
      color: #6b6b6b;
      font-size: 12px;
      padding: 3px 0;
      line-height: 24px;
      text-transform: capitalize;
      font-weight: normal; }
      .ul-account a:hover {
        color: #ee3333;
        border: 0 !important; }
  .content .ul-account li button {
    color: #6b6b6b;
    font-size: 12px;
    padding: 3px 0;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: normal;
    text-align: left; }
    .content .ul-account li button:hover {
      color: #ee3333; }
  .content .ul-account li .item-selected {
    color: #ee3333; }
  /* ----- SLIDER ----- */
  .nivo-controlNav {
    position: relative;
    top: -100px !important;
    z-index: 5; }
  .full-width .container {
    width: 100% !important;
    padding: 0; }
    .full-width .container .row {
      margin: 0; }
      .full-width .container .row .main-col {
        padding: 0 !important; }
  .scrollup {
    height: 32px;
    width: 32px;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    opacity: 0.5; }
  .html-nivo-caption {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    background: none repeat scroll 0% 0% transparent !important; }
  .container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
  .container-inner {
    height: 100%;
    width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px; }
    .container-inner .text-content {
      position: absolute;
      top: 50%;
      max-width: 50%;
      text-align: left;
      left: 0;
      transform: translateY(-50%);
      font-family: 'Poppins', sans-serif; }
    .container-inner .title {
      font-size: 120px;
      color: #2c2c37;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: 500;
      line-height: 1; }
    .container-inner #title1 {
      animation: rollIn 1s linear alternate; }
    .container-inner #title2 {
      animation: fadeInLeft .5s linear alternate; }
    .container-inner #title3 {
      animation: zoomIn .5s linear alternate; }
    .container-inner p {
      font-size: 14px;
      margin: 0;
      padding: 5px;
      color: #2c2c37;
      line-height: 24px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400; }
    .container-inner #paragraph-1 {
      animation: slideInDown 1s linear alternate; }
    .container-inner #paragraph-2 {
      animation: fadeInRight .5s linear alternate; }
    .container-inner #paragraph-3 {
      animation: bounceIn 2s linear alternate; }
    .container-inner .shoppingNow {
      font-size: 12px;
      line-height: 51px;
      border: 2px solid #2c2c37;
      text-transform: uppercase;
      font-weight: 600;
      display: inline-block;
      vertical-align: top;
      padding: 0 50px;
      background: transparent;
      margin-top: 53px;
      animation: slideInUp 0.5s linear alternate;
      border-radius: 3px; }
      .container-inner .shoppingNow:hover {
        background-color: #2c2c37; }
        .container-inner .shoppingNow:hover a {
          color: #fff;
          text-decoration: underline; }
  /* ----- TEXT ANIMATIONS ----- */
  @keyframes rollIn {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
    to {
      opacity: 1;
      transform: none; } }
  @keyframes slideInDown {
    from {
      visibility: visible;
      transform: translateY(-100%); }
    to {
      transform: translateY(0); } }
  @keyframes slideInUp {
    from {
      visibility: visible;
      transform: translateY(100%); }
    to {
      transform: translateY(0); } }
  @keyframes fadeInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0; }
    to {
      transform: translateX(0);
      opacity: 1; } }
  @keyframes fadeInRight {
    from {
      transform: translateX(100%);
      opacity: 0; }
    to {
      transform: translateX(0);
      opacity: 1; } }
  @keyframes zoomIn {
    from {
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0; }
    to {
      opacity: 1; } }
  @keyframes bounceIn {
    0% {
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0; }
    20% {
      transform: scale3d(1.1, 1.1, 1.1); }
    40% {
      transform: scale3d(0.9, 0.9, 0.9); }
    60% {
      transform: scale3d(1.03, 1.03, 1.03); }
    80% {
      ttransform: scale3d(0.97, 0.97, 0.97); }
    100% {
      transform: scale3d(1, 1, 1); } }
  /* ----- Main Row ----- */
  .image a img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    height: 100%; }
  /* ----- Category ----- */
  .categorys {
    text-align: center;
    margin: 50px; }
    .categorys h2 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px; }
    .categorys .module-description {
      display: flex;
      justify-content: center; }
      .categorys .module-description .category {
        display: flex; }
        .categorys .module-description .category li {
          padding: 10px;
          margin: 10px; }
          .categorys .module-description .category li a {
            color: #707070;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer; }
          .categorys .module-description .category li .activ {
            color: #23232c; }
  /* ----- Category ----- */
  .gallery-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c2c37;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px; }
  .filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px; }
  .filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F; }
  .btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white; }
  .port-image {
    width: 100%; }
  .gallery_product {
    margin-bottom: 30px; }
  .product-name {
    color: #23232c;
    padding: 0;
    display: block;
    line-height: 18px;
    text-transform: capitalize;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Karla',sans-serif; }
    .product-name:hover {
      color: #e33;
      text-decoration: none; }
  .regular-price {
    color: #929292;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    font-family: 'Karla', sans-serif; }
  .sale-price {
    color: #e33;
    font-weight: 700;
    font-family: 'Karla', sans-serif; }
  /* ----- Footer  ----- */
  .footer-middle {
    background-color: #222;
    margin-top: 80px;
    padding: 40px 0; }
  .footer-header {
    position: relative;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 25px 0; }
  .desc-footer {
    line-height: 24px;
    font-size: 14px;
    color: #717171;
    font-weight: 400; }
  .readmore {
    line-height: 24px;
    font-size: 14px;
    color: white;
    font-weight: 600; }
    .readmore:hover {
      color: #e33;
      text-decoration: none; }
  .social-follow h4 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 600; }
  .social-network {
    display: inline;
    list-style: none; }
    .social-network li {
      display: inline;
      margin: 0 5px; }
      .social-network li a {
        text-decoration: none; }
        .social-network li a i {
          font-size: 22px;
          color: #9e9e9e;
          margin: 0; }
          .social-network li a i:hover {
            color: #717171;
            text-decoration: none;
            touch-action: manipulation; }
  .cms-page-link {
    line-height: 24px;
    font-size: 14px;
    color: #717171;
    font-weight: 400; }
    .cms-page-link:hover {
      color: #e33;
      text-decoration: none; }
  .line {
    border-bottom: 1px solid #717171;
    padding-bottom: 30px; }
  .footer-bottom {
    background-color: #222; }
  address {
    color: #717171; }
    address a {
      color: #9e9e9e; } }

/*-~- libs -~-*/
/*-~- partials -~-*/
.footer {
  clear: both;
  text-align: center; }

/*-~- styles -~-*/
